*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.main-header {
  width: 100%;
  font-size: 1.5em;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__list {
  margin: 0 2rem 0 0;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  list-style: none;
  display: inline-block;
  margin: 0.5rem;
}

.nav__link {
  text-decoration: none;
}

.icon-menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(../images/icon-menu.png) no-repeat center;
  background-size: contain;
}

.image-icon {
  border-radius: 50%;
  width: 100%;
}

.main-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-search-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.search {
  margin-top: 4rem;
  width: 100%;
  border: 1px solid #dfe1e5;
  border-radius: 100px;
  text-align: center;
  height: 50px;
}

.search:hover {
  -webkit-box-shadow: 0 1px 6px 0 #20212447;
          box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

.input-search {
  height: 48px;
  width: 85%;
  border: none;
  outline: none;
  padding: 1em;
}

.icon-search {
  background: url(../images/search-icon.png) no-repeat center;
  background-size: contain;
  padding: 1em;
}

.icon-voice {
  background: url(../images/voice-icon.png) no-repeat center;
  background-size: contain;
  padding: 1em;
}

.search-button {
  margin-top: 1em;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.btn-gray {
  padding: 1em;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  color: #3d3d3d;
  font-weight: 500;
  margin: 1rem;
  cursor: pointer;
}

.btn-gray:hover {
  border: 1px solid #e4e4e4;
}

.main-footer {
  width: 100%;
  background: #e9e7e7;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5em;
  font-size: 1.6rem;
}

.foo-city {
  width: 100%;
  padding: 0.8em;
  border-bottom: 1px solid #cac9c9;
  color: #3d3d3d;
}

.side-left-item,
.side-right-item {
  display: inline-block;
  padding-top: 0.9em;
  padding-bottom: 0.3em;
}

.side-left-link,
.side-right-link {
  text-decoration: none;
  padding-left: 1em;
  margin: 0 0.6em;
  color: #3d3d3d;
}
/*# sourceMappingURL=styles.css.map */